1. What are data structures and why are they important?
 - A data structure is way of formatting data so it can be accessed by a computer program. They allow us to efficiently store,and transform data according to various use cases.

2. Explain the difference between mutable and immutable data types with examples
  - In Python, mutable data types like list, dict, and set can be changed after creation. That means if we add, remove, or update their elements, the original object stays the same. For example:

      ```
      lst = [1, 2, 3]
      print(id(lst))     

      lst.append(4)       # same object, content changed IN-PLACE
      print(id(lst))      #  (address unchanged)
      print(lst)          # [1, 2, 3, 4]
      The list object itself is altered, so its identity (id) stays the same
      ```
  On the other hand, immutable data types like int, float, str, and tuple   cannot be changed once they are created. Any update creates a new object in memory. For example:


                  ```
                  s = "hello"
                  print(id(s))        # (some address)

                  s = s + " world"    # concatenation creates a NEW string object
                  print(id(s))        # (different address)
                  ```

3. What are the main differences between lists and tuples in Python
 - In Python, lists and tuples are both used to store collections of items, but they differ in key ways.

    A list is mutable, meaning we can change, add, or remove items after it's created. It uses square brackets like [1, 2, 3]. Lists are commonly used when the data is expected to change.

    A tuple is immutable, meaning once it's created, its contents cannot be changed. It uses round brackets like (1, 2, 3). Tuples are used when we want to protect data from being modified, such as coordinates or fixed settings.

    Tuples are slightly faster and take up less memory than lists, making them a good choice for fixed data.

4. Describe how dictionaries store data?
 - In Python, a dictionary stores data in the form of key-value pairs.  

    Dictionaries are useful because we can quickly find any value just by using its key. The keys must be unique and unchangeable, but the values can be anything — numbers, words, even other lists.

    Internally, Python uses a hash table to store dictionaries. It converts each key into a unique number (called a hash), which helps quickly find or insert the value.



              ```
                mySelf = {"name": "Kushagra", "age": 37}
              ```

5. Why might you use a set instead of a list in Python?
 - In Python, we might use a set instead of a list when we want to store a collection of unique items and don’t care about their order. Also, checking if an item is present in a set is faster than in a list, especially when the data is large. Set automatically deletes duplicates.

6. What is a string in Python, and how is it different from a list?
 - In Python, a string is a sequence of characters (letters, numbers, symbols and spaces) enclosed in quotes. Immutable
 - A list, is a collection of items that can be of different types, like numbers, strings, or even other lists. Mutable
 - A string is immutable character data; a list is a flexible, mutable container that can hold anything.

7. How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity in Python because they are immutable, meaning their values cannot be changed after creation.
  Once we store data in a tuple, it stays exactly the same. This is useful when we want to protect data from accidental changes, especially in cases like:

      Coordinates (x, y)

      Dates (day, month, year)

      Settings or fixed values


              ```
              # Using tuples as dictionary keys for a coordinate system
               grid = {(0, 0): "origin", (1, 1): "northeast", (-1, -1): "southwest"}

              ```

8. What is a hash table, and how does it relate to dictionaries in Python
 - A hash table is a fundamental data structure that stores key-value pairs using a hash function to compute an index (or "hash code") where each value should be stored in an underlying array. Python dictionaries are the language's implementation of hash tables.
 When we create a dictionary like

        ```
            mySelf = {"name": "Kushagra", "age": 37}
        ```
      Python uses the hash of the key ("name" or "age") to decide where to store the value in memory. That’s why finding a value with a key (like student["name"]) is very fast — even if the dictionary is huge.

      So, the hash table is what makes Python dictionaries powerful: they allow fast lookup, addition, and deletion of key-value pairs.

9. Can lists contain different data types in Python?
 - In Python, lists can contain different data types in the same list. This is one of the powerful features of Python lists.


            ```
            # my_list = [1, "hello", 3.14, True, [5, 6]]
              print(my_list)
            ```

 10. Explain why strings are immutable in Python
 - Python strings are immutable so they can be
safe (unchangeable keys in dictionaries/sets),
safe to share (many variables can point at the same string without fear of side-effects), and
memory-efficient (the interpreter can freely reuse and cache them).
Immutable strings are inherently thread-safe. Multiple threads can safely read from the same string without synchronization.
String immutability aligns with Python's philosophy of "explicit is better than implicit" by making it clear when new objects are created versus when existing objects are modified.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries offer significant advantages over lists for specific types of tasks, primarily due to their key-based access model and hash table implementation.
  
      1. **Lightning-fast look-ups**  
        - List: `if x in my_list:` can scan every element (O(n)).  
        - Dict: `value = my_dict[key]` is one hash jump (average O(1)).

      2. **Meaningful labels instead of positions**  
        - `price["apple"]` is clearer and safer than `price[0]`.  
        - Order might change later; labels don’t.

      3. **No duplicates on the label**  
        - Each key appears once, so updating or counting is a single assignment: `count[word] += 1`.

      Typical jobs where dictionaries shine  
      - Caching (memoization)  
      - Frequency counts and histograms  
      - Storing record-like data (JSON-like objects)  
      - Fast membership tests with extra data attached

12. Describe a scenario where using a tuple would be preferable over a list
 - We use a tuple when we want to store a fixed set of values that should not change.
 For example geographical coordinates of:


```
coordinates = (28.6139, 77.2090) #lattitude and longitude of Delhi
```

13. How do sets handle duplicate values in Python?
 - Set automatically deletes duplicate values. When we add elements to a set, it only keeps unique values, no matter how many duplicates we try to add.

```
 my_set = {1, 2, 2, 3, 4, 4, 4, 5}
 print(my_set) # {1,2,3,4,5}

```

14. How does the “in” keyword work differently for lists and dictionaries
 -  In lists, in looks for values.
    In dictionaries, in looks for keys only — not values.

       If we want to check if a value exists in a dictionary:



              ```
              'x' in dict1.values()  # True/False
              ```

15. Can you modify the elements of a tuple? Explain why or why not
 - No, we cannot modify the elements of a tuple in Python — because tuples are immutable.
Once a tuple is created, we cannot change, add, or delete its elements. The structure and contents remain fixed.

16. What is a nested dictionary, and give an example of its use case
  - A nested dictionary is a dictionary inside another dictionary. It lets us organize complex data in a structured way, like a mini-database(json). One can build a studnent management system like this:


                ```
                students = {
                              "Kush": {"age": 20, "grade": "A"},
                              "Kannagi": {"age": 22, "grade": "B"},
                            }

                ```

17. Describe the time complexity of accessing elements in a dictionary
   - Accessing elements in a Python dictionary is generally:
       Time Complexity: O(1) — Constant Time. Dictionaries are implemented using hash tables

       Python:

        Calculates the hash of the key.

        Goes directly to the memory location where the value is stored.

        Returns the value in constant time, regardless of dictionary size.

18. In what situations are lists preferred over dictionaries
  - Lists are preferred over dictionaries in several key situations where ordered sequences, numerical indexing, or specific data operations are more important than key-based lookups.


        *   Ordered Data and Sequential Processing
        *   Mathematical and Statistical Operations Lists are designed for numerical computations and bulk operations
        *   Positional/Index-Based Access -when data naturally maps to positions or indices, lists are more intuitive(like days of the week).
        *   Stack and Queue Operations - Lists provide efficient stack operations and reasonable queue functionality
        *   Slicing and Range Operations - Lists support powerful slicing  operations that dictionaries cannot match

19. Why are dictionaries considered unordered, and how does that affect data retrieval
 - Dictionaries are considered unordered because they’re based on hashing, not positions. We can’t access values by index, only by key. We retrieve data using keys, not their order. This makes lookups fast but not position-based.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists store data in a specific order and we access items using their index (position), like list[0].
Dictionaries store data as key-value pairs, and we access items using their keys, like dict["name"].
Lists are useful when the order matters, while dictionaries are better when we want to label and quickly access data by a specific name or identifier.

In [62]:
#Code to create a string with your name and print it
myName="Kushagra"
print("My name is", myName)

My name is Kushagra

In [63]:
#Code to find the length of the string "Hello World"
hello_string="Hello World"
print("The length of the string 'Hello World' is", len(hello_string))

The length of the string 'Hello World' is 11

In [64]:
#Code to slice the first 3 characters from the string "Python Programming"
python_string="Python Programming"
print("The first 3 characters of the string 'Python Programming' are", python_string[:3])

The first 3 characters of the string 'Python Programming' are Pyt

In [65]:
#Code to convert the string "hello" to uppercase
hello_string="hello"
print("The uppercase of the string 'hello' is", hello_string.upper())

The uppercase of the string 'hello' is HELLO

In [66]:
#Code to replace the word "apple" with "orange" in the string "I like apple"
fruit_string="I like apple"
print(fruit_string.replace("apple", "orange"))

I like orange

In [67]:
#Write a code to create a list with numbers 1 to 5 and print it

l5=[l for l in range(1,6)]
print(l5)

[1, 2, 3, 4, 5]

In [68]:
#Code to append the number 10 to the list [1, 2, 3, 4]
l2=[1,2,3,4]
l2.append(10)
print(l2)

[1, 2, 3, 4, 10]

In [69]:
#Code to remove the number 3 from the list [1, 2, 3, 4, 5]
l3=[1,2,3,4,5]
l3.remove(3)
print(l3)

[1, 2, 4, 5]

In [70]:
#Code to access second element in the list[a,b,c,d]
l4=['a','b','c','d']
print(l4[1])

b

In [71]:
#Code to reverse the list [10, 20, 30, 40, 50]
list1=[10,20,30,40,50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [72]:
#Code to create a tuple with the elements 100, 200, 300 and print it
tuple1=(100,200,300)
print(tuple1)

(100, 200, 300)

In [73]:
#Code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple2=('red', 'green', 'blue', 'yellow')
print(tuple2[-2])

blue

In [74]:
#Code to find the minimum number in the tuple (10, 20, 5, 15)
tuple3=(10,20,5,15)
print(sorted(tuple3)[0])
tuple3

5

(10, 20, 5, 15)

In [75]:
#Code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple4=('dog', 'cat', 'rabbit')
print(tuple4.index('cat'))

1

In [76]:
#Code to create a tuple containing three different fruits and check if "kiwi" is in it.
tfruits=('apple','kiwi','mango')
print('kiwi' in tfruits)

True

In [77]:
#Code to create a set with the elements 'a', 'b', 'c' and print it
s={'a','b','c'}
print(s)

{'c', 'a', 'b'}

In [78]:
#code to clear all elements from the set {1, 2, 3, 4, 5}
s1={1,2,3,4,5}
s1.clear()
print(s1)

set()

In [79]:
#Code to remove the element 4 from the set {1, 2, 3, 4}
s1={1,2,3,4}
s1.remove(4)
s1

{1, 2, 3}

In [80]:
#Code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s2={3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [81]:
#Code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.(
s3 ={2,3,4}
s1.intersection(s3)

{2, 3}

In [82]:
# Code to create a dictionary with the keys "name", "age", and "city", and print it
d1={"name":"Kushagra","age":37,"city":"Bhopal"}
print(d1)
type(d1)

{'name': 'Kushagra', 'age': 37, 'city': 'Bhopal'}

dict

In [83]:
#Code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d2={"name":"John", "age": 25}
d2["country"]="USA"
d2

{'name': 'John', 'age': 25, 'country': 'USA'}

In [84]:
# code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d3={'name': 'Alice', 'age': 30}
d3["name"]

'Alice'

In [85]:
# code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d4={'name': 'Bob', 'age': 22, 'city': 'New York'}
d4.pop("age")
d4

{'name': 'Bob', 'city': 'New York'}

In [86]:
#code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d5={'name': 'Alice', 'city': 'Paris'}
print("city" in d5)

True

In [87]:
#code to create a list, a tuple, and a dictionary, and print them all
my_list=[1,2,3,4,5]
my_tuple=('a','b','c','d','e')
my_dict={"name":"Kushagra","age":37,"city":"Bhopal"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
('a', 'b', 'c', 'd', 'e')
{'name': 'Kushagra', 'age': 37, 'city': 'Bhopal'}

In [88]:
#Code to create  a list of 5 randon noumbers between 1 & 100, sorted in ascending order, and print the result(replaced)
import random
random_list= random.sample(range(1,101),5)
random_list.sort()
print(random_list)

[43, 49, 68, 69, 76]

In [89]:
#code to create a list with strings and print the element at the third index
list1=["a","b","c","d","e"]
print(list1[3])

d

In [90]:
#code to combine two dictionaries into one and print the result.
diction = {'a':1,'b':2}
diction2 = {'c':3,'d':4}
diction.update(diction2)
print(diction)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [91]:
#code to convert a list of strings into a set
set9 = set(list1)
print(set9)

{'b', 'a', 'd', 'e', 'c'}